
<footer id="footer" class="white-section">
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fas fa-envelope"></i>
  <p>© Copyright 2020 the ❤️ SKY web</p>

</footer>


</body>
</html>