<%- include('partials/header') %>

<!-- section of blogging -->
<div class="jumbotron jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">Blog</h1>
    <p class="leadbook">Create your blogs here or Write your viewpoints regarding COVID-19 through blogs and pusblish it.So,others can see it and acquire it.</p>
    <hr class="my-4">
    <p class="leadbook">To write a blog click the button.</p>
    <p>
      <a class="btn btn-outline-secondary btn-lg" href="/bloghome" role="button">Blogging</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">ToDoList</h1>
    <p class="leadbook">Prepare your todolist easily in the days of home quarantine.And develop a new skills by writing in your list.</p>
    <hr class="my-4">
    <p class="leadbook">To prepare a ToDoList click the button.</p>
    <p>
      <a class="btn btn-outline-secondary btn-lg" href="/todolistshome" role="button">ToDoList</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">Secrets</h1>
    <p class="leadbook">Don't keep your secrets, share them anonymously!</p>
    <hr class="my-4">
    <p class="leadbook">To write a secret click the button.</p>
    <p>
      <a class="btn btn-outline-secondary btn-lg" href="/secretshome" role="button">Secret</a>
    </p>
  </div>

<a class="btn btn-dark btn-md" href="/logout" role="button">Log Out</a>

<%- include('partials/footer') %>