<%- include('partials/header') %>

<!-- section of blogging -->
<div class="jumbotron jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">Blog</h1>
    <p class="leadbook">Publish your passions, your way.
      Create and Read unique and beautiful blogs on latest topics.It's easy and free.
      “The key to social media is being social.”
    </p>
    <hr class="my-4">
    <p class="leadbook">To visit blog activity click the button.</p>
    <p>
      <a class="btn btn-danger btn-lg" href="/bloghome" role="button">Blogging</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">ToDoList</h1>
    <p class="leadbook">Rename your “To-Do” list to your “Opportunities” list. Each day is a treasure chest 
      filled with limitless opportunities; take joy in checking many off your list.</p>
    <hr class="my-4">
    <p class="leadbook">To prepare a ToDoList click the button.</p>
    <p>
      <a class="btn btn-danger btn-lg" href="/todolistshome" role="button">ToDoList</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid jumbotron-book">
    <h1 class="display-4 homehead">Secrets</h1>
    <p class="leadbook">
      Secrets have power, and that power diminishes when they are shared, so they are best kept and kept well. Sharing secrets, real secrets,
       important ones, with even one other person, will change them.</p>
    <hr class="my-4">
    <p class="leadbook">To write a secret click the button.</p>
    <p>
      <a class="btn btn-danger btn-lg" href="/secretshome" role="button">Secret</a>
    </p>
  </div>


<%- include('partials/footer') %>
<!-- 
The way to get started is to quit talking and begin doing. -->