<%- include('partials/header') %>

<!-- section of blogging -->
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Blog</h1>
    <p class="lead">Write your viewpoints regarding COVID-19 through blogs and pusblish it.So,others can see it and acquire it.</p>
    <hr class="my-4">
    <p>To write a blog click the button.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Blogging</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid">
    <h1 class="display-4">ToDoList</h1>
    <p class="lead">Prepare your todolist easily in the days of home quarantine.And develop your new skills by writing in your list.</p>
    <hr class="my-4">
    <p>To prepare a ToDoList click the button.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/todolist" role="button">ToDoList</a>
    </p>
  </div>

  <div class="jumbotron  jumbotron-fluid">
    <h1 class="display-4">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr class="my-4">
    <p>To write a secret click the button.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/secrets" role="button">Secret</a>
    </p>
  </div>

<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include('partials/footer') %>