<%- include('partials/header') %>
<div class="jumbotron  jumbotron-fluid contactpage">
    <h1 class="display-4" style="color:black;">Thank you <%= name %>.</h1>
    <p class="lead" style="color:black;">We will see your queries regarding <%= subject %>.</p>
    <hr class="my-4">
    <p style="color: black;">To go back to home page click the button.</p>
    <p class="lead">
      <a class="btn btn-primary btn-md" href="/" role="button">Back</a>
    </p>
  </div>




<%- include('partials/footer') %>