<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
     <a class="btn btn-dark btn-lg" href="/secretssubmit" role="button">Write your Secret</a>
    <!-- <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> --> 
    <button class="btn btn-lg btn-dark" onclick="window.location.href='/book'">Back to Activities</button>

  </div>
</div>

<%- include('partials/footer') %>